@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
.passlen{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}
.passlen label{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Titillium Web';
}
.passlen input{
    margin-top: 10px;
    padding-left: 10px;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(104, 103, 103);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}