@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title h1{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Playpen Sans';
    color: rgb(0, 217, 255);
    text-shadow: 
        2px 2px 0px rgb(203, 91, 91),  /* bottom right */
        -2px 2px 0px black, /* bottom left */
        2px -2px 0px black, /* top right */
        -2px -2px 0px black; /* top left */
}